@font-face {
    font-family: "DOS";
    src: url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
}


* {
    box-sizing:border-box;
}


body {

    margin:0;
    background:black;

    overflow:hidden;

    font-family:"Courier New", monospace;

}



.screen {

    width:100vw;
    height:100vh;

    background:#000033;

    color:#ccccff;

    padding:40px;

    position:relative;

}



#terminal {

    font-size:24px;

    line-height:1.5;

    white-space:pre-wrap;

}



.green {

    color:#00ffff;

}


.yellow {

    color:#ffff00;

}


.red {

    color:#ff4444;

}



.scanlines {

    position:absolute;

    inset:0;

    pointer-events:none;

    background:

    repeating-linear-gradient(
        0deg,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03) 1px,
        transparent 2px,
        transparent 4px
    );

}



.cursor {

    animation:blink 1s infinite;

}



@keyframes blink {

    50%{
        opacity:0;
    }

}


.glitch {

animation:glitch .15s infinite;

}


@keyframes glitch {

0%{
transform:translate(0);
}

50%{
transform:translate(3px,-2px);
}

100%{
transform:translate(-3px,2px);
}

}
